body {
    background-image: url(../img/gray-background.png);
    padding-bottom: 15px;
}

header.structure-background {
    background-image: linear-gradient(to right, transparent , rgba(253, 253, 253, 0.89)), url(../img/seminaire-design.jpg);
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
}

header .right-and-blur {
    text-align: right;
}

header p.lead {
    font-style: italic;
}

.avatar {
    width: 160px;
    height: 160px;
}

.first-description .avatar {
    margin-right: 20px;
}

hr{
    background-color: white;
    height: 1px;
}

hr.big-hr {
    height: 2px;
    margin: 10px 0;
}

.stacked-nav li {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    margin: 0 30px;
    text-align: center;
}

.stacked-nav li:first-child {
    margin-left: 0;
}
.stacked-nav li:last-child {
    margin-right: 0;
}

.stacked-nav li a {
    padding: 0;
    margin: 0;
}

.block {
    margin-top: 20px;
}

.list-platforms li a:hover {
    text-decoration: none;
}

.list-platforms .orange {
    color: #F5820E;
    display: inline-block;
    margin-left: 15px;
}

.pull-right-sub {
    float: right;
    font-style: italic;
    opacity: 0.7;
    font-size: 0.9em;
}

.media > .pull-left {
    margin-right: 15px;
}

.media .media-mini {
    width: 80px;
}

.media [class^=media-description] {
    text-align: justify;
}

.media .media-description-sm {
    font-size: 0.9em;
}

.media-carousel {
    display: block;
    margin: auto;
    width: auto;
}

.media-carousel a {
    display: inline-block;
    width: 60px;
    margin: 10px;
}

.media-carousel a img {
    max-width: 60px;
    max-height: 60px;
    margin: 0 auto;
}

a.ico-keybase {
    background: url(../img/keybase.png) no-repeat center left;
    display: inline-block;
    padding-left: 24px;
    margin-left: 5px;
}

.ground-based h2 {
    text-shadow: -1px -1px rgba(46, 46, 46, 0.2);
}

.ground-based a {
    border-bottom: 1px dotted #000;
}

.dated-step .year {
    text-align: right;
    font-size: 1.7em;
    font-weight: bold;
    
}
.dated-step h4 {
    font-size: 1.9em;
    font-weight: bold;
    margin-top: 0;
}

.list-badges .pill:hover {
    background-color: rgba(248, 165, 83, 0.6);
}

.pill {
    text-align: center;
    background-color: rgba(248, 165, 83, 0.4);
    margin: 4px;
    padding: 4px 6px;
    border-radius: 3px;
    display: inline-block;
    font-size: 0.9em;
    cursor: default;
}

.row.dated-step + .row.dated-step {
    margin-top: 15px;
}

a.muted-link {
    color: inherit;
}
a.muted-link:hover {
    text-decoration: none;
}

.half-opacity {
    opacity: 0.5;
}

#githubfeed {
/*    box-sizing: content-box;*/
    margin-bottom: 20px;
}

.twitter-timeline {
    width: 100% !important;
}

.panel-wrap {
    margin-bottom: -7px;
}

#education {
    margin-bottom: 30px;
}
